@import "../../styles";

button {
  font-weight: bold;
  font-size: 12px;
  background: $success-green;
  padding: 1em 1.5em;
  cursor: pointer;
  user-select: none;
  border-radius: 15%;
}

.play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);


  input {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
}

.active {
  background-color: $success-green;
  border: 2px solid black;
}

.nonactive {
  background-color: red;
}